:root{
   --cor-azul-principal: #1B1464;
   --cor-de-branco: #fff8f2;
   --cor-de-link: #000;
   --cor-secundary:#9355ff;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-branco) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--cor-azul-principal);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 3%;

}
section.menu img{
    width:1.7rem;
    height:1.7rem;
    padding-right: 0.5rem;
}
section.menu header .menu__title{
    min-width:93px;
}
section.menu header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

section.menu h3{
    font-size: 16px;
    color: var(--cor-azul-principal);
}
section.menu .menu__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 1rem 0 2rem;
    padding: 0;
    width: 100%;    
}
section.menu .menu__list__item{
    display:flex;
    align-items: center;
    padding-right: 5px;
}
section.menu .menu__list__item a{
    color: var(--cor-azul-principal);
    font-size: 13px;
    font-weight: bold;
}
section.menu .menu__list__item a:hover{
    color: var(--cor-secundary);
    transition: 0.5s;    
}
/*Sessão Title*/

section.title{
    display: flex;
    background-image: linear-gradient(to bottom, var(--cor-secundary), var(--cor-azul-principal));
    color: var(--cor-de-branco);
    padding: 1rem ;
}
section.title .title__div{
    display: flex;
    justify-content: space-around;
}
section.title .title__div .title__profile{
    display: flex;
    height: 368px;
    align-self:flex-end;
}
section.title .title__div .title__container{
    display:flex;
    flex-direction: column;
}
section.title .title__div .title__container .title__bio{
    font-size: 52px;
    word-break: break-work;
}
section.title .title__div .title__container .title__subsection{
    font-size: 18px;
    word-break: break-word;

}
section.title .title__div .title__container .title__network{
    display: flex;
    max-width: 320px;
    padding: 0;
    margin: 0;
}
section.title .title__div .title__container .title__network .title__network__item{
    display:flex;
    padding-top:10px;
    margin-right: 5%;
}
section.title .title__div .title__container .title__network .title__network__item a{
    color:var(--cor-de-branco);
}
section.title .title__div .title__container .title__network .title__network__item a img{
    color:var(--cor-de-branco);
    width:10px;
}
section.title .title__div .title__container .title__network .title__network__item a:hover{
    color: var(--cor-secundary);
    transition: 0.5s;
}

/*Sessão About*/

section.about{
    display: flex;
    margin:0 3%;    

}
section.about .about__title{
    display:flex;
    font-size:32px
}

/*Sessão Skills*/
section.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
}
section.skills .skills__line{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}


section.skills .skills__line .skills__box{
    display:flex;
    justify-content: center;
    width: 10rem;
    min-width: 100px;
    height:10rem;
    border-radius: 10px;
    background-color: var(--cor-azul-principal);
    color: var(--cor-de-branco);
    margin-left: 1rem;
    margin-bottom:1rem;
}
section.skills .skills__line .skills__box:hover, section.hobbies .hobbies__line .hobbies__box:hover{
    background-color: var(--cor-secundary);
    transition: 0.5s;
    cursor: pointer;
}
section.skills .skills__line .skills__box ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    height:100%;
}
/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    text-align: center;

}
section.hobbies .hobbies__line{
    display:flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.hobbies .hobbies__line .hobbies__box{
    display:flex;
    justify-content: center;
    width: 10rem;
    min-width: 100px;
    height:10rem;
    border-radius: 10px;
    background-color: var(--cor-azul-principal);
    color: var(--cor-de-branco);
    margin-left: 1rem;
    margin-bottom:1rem;
}
section.hobbies .hobbies__line .hobbies__box ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    height:100%;
}
.hobbies__img img{
    backgroud-color:#fff;
    height:33px;
}

/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    text-align: center;
}
section.academic .academic__courses{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
section.academic .academic__courses ul{
    padding:0;
}
section.academic .academic__courses .academic__courses__box .academic__courses__item__title{
    max-width: 250px;
}
.academic__courses__item__img img{
    width:250px;
}

/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
section.experience .experiencie__box:nth-child(2n+1){
    background-color: var(--cor-azul-principal);
    color: var(--cor-de-branco);
    flex-direction: row-reverse;
}
section.experience .experiencie__box {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem auto;
}
section.experience .experiencie__box img{
    max-width: 500px;
    min-width: 300px;
    margin: 1rem;
}
section.experience .experiencie__box .experience__title{
    margin: 0 auto;
    max-width: 400px;
    min-width: 300px;    
}
section.experience .experiencie__box .experience__info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem;
}
 .experience__repo a button{
    border: none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border:1px solid var(--cor-azul-principal);
    color: var(--cor-azul-principal);
    
}
.experience__demo a button{
    padding: 15px 25px;
    backgroud-color: var(--cor-azul-principal);
    color:var(--cor-secundary);
    border:1px solid var(--cor-secundary);
    text-align: center;
    text-decoration: none;
}


/*Contato*/

section.formcontato{
    display:flex;
    justify-content:center;
    margin:0 3%;
}
section.formcontato .formcontato__contacto{
    display:flex;
    justify-content:center;
}
section.formcontato .formcontato__contacto .formcontato--esquerda img{
    display:flex;
    width:400px;
}
section.formcontato .formcontato__contacto .formcontato__text{
    display:flex;
    width:50%;
    height:100%;
    flex-direction: column;
    text-align:left;
    padding:0 1rem;
}
section.formcontato .formcontato__contacto .formcontato__text .formcontato__form{
    display:flex;
    height:100%;
    justify-content: space-between;
    flex-direction: column;
    
}
.formcontato__form input{
    height:30px;
    margin-bottom:1rem;
    border-radius:5px;
    border:1px solid var(--cor-azul-principal);
}
.formcontato__form textarea{
    height:100px;
    margin-bottom:1rem;
    border-radius:5px;
    border:1px solid var(--cor-azul-principal);
}
.formcontato__form button{
    width:150px;
    height:30px;
    font-size:16px;
    margin-bottom:1rem;
    border-radius:5px;
    border:1px solid var(--cor-azul-principal);
}
/*footeer*/

section.footer{
    
    background-color: var(--cor-azul-principal);
    color: var(--cor-de-branco);
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {

/* Menu */
section.menu{
    display: flex;
    justify-content: space-around;
}
section.menu nav{
    display: flex;
    justify-content: right;
}
section.menu .menu__list{
    display: none;
}

 /*Contato*/
section.formcontato .formcontato__contacto .formcontato--esquerda{
    display:none;
}
section.formcontato .formcontato__contacto .formcontato__text{
    width:100%;
}


/*title*/
section.title .title__div .title__profile{
    width:150px;
    height:150px;
}
section.title .title__div .title__container .title__bio{
    font-size: 22px;
    margin-right:0.7rem
}
section.title .title__div .title__container .title__subsection{
    font-size: 16px;
    font-weight:normal;
}
section.title .title__div .title__container .title__network .title__network__item a{
    font-size: 13px;
}

}

/*Mobile*/
@media (max-width: 425px) {

/*Menu*/
section.title .title__div{
    display:flex;
    flex-direction: column-reverse;
}
section.title .title__div .title__profile{
    width:100px;
    height:100px;
    align-self:flex-start;

}


/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
